body {margin:0px;font-size:large;}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.height100percent {height:100%} 
.copyright {padding:5px;font-style:italic;font-size:small;}
.spacer {margin:0.5em;}
#header {margin:0;padding:0;}
#exitApp {margin:1em;float:right;}
